name: build

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - '**/README.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: microsoft/setup-msbuild@v1.1.3
     
      - name: install buildtools
        run: Invoke-WebRequest -Uri https://aka.ms/vs/17/release/vs_BuildTools.exe -OutFile .\vs_BuildTools.exe
        shell: powershell

      - name: install MFC
        run: .\vs_BuildTools.exe --quiet --wait --norestart --nocache --add Microsoft.VisualStudio.Workload.VCTools --add Microsoft.VisualStudio.Component.MSBuild --add Microsoft.VisualStudio.Component.VC.ATLMFC --add Microsoft.VisualStudio.Component.VC.MFC --includeRecommended

      - name: generate version string
        run: |
          $content = Get-Content "KAPChecker.h"
          $line = $content | Where-Object { $_ -match '#define PROGRAM_VERSION' }
          $version = ($line -replace '.*"(.*)".*','$1')
          Write-Output "VERSION_STRING=$version" | Out-File -FilePath $env:GITHUB_ENV -Append
       
      - name: run build step
        run: msbuild KAP.vcxproj /p:Configuration=Release /p:Platform=win32

      - name: create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ env.VERSION_STRING }}
          release_name: Release ${{ env.VERSION_STRING }}
          draft: false
          prerelease: false

      - name: upload release zip file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Release/KAP.dll
          asset_name: KAP.dll
          asset_content_type: application/octet-stream
